<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>About me</strong></h1>
        <p class="text-secondary">by Shreyas Sarurkar</p>
    </div>
    <div class="px-5 py-5 mx-auto">
        <h4 class="text-secondary">I am Shreyas Sarurkar. I am in 10th grade.</h4>
        <h4 class="text-secondary">I was born in India and have moved to the US 2 years ago.</h4>
        <h4 class = "text-secondary">Hobbies: I play chess, code in python and play soccer in my freetime.</h4>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
