{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Shreyas Flask Portfolio Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Python Programing</h5>
                    <p class="card-text">
                        <ol>
                            <li>I like programing in my spare time in python.</li>
                            <li>Python is a versatile programing language that is used in many applications worldwide.</li>
                            <li>I have been programing for 7 years with python and I am still finding new things to code.</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/Soccer.jpg') }}" alt="Soccer" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Soccer</h5>
                    <p class="card-text">
                        <ol>
                            <li>I like playing soccer when I go to the park.</li>
                            <li>Soccer is a famous game played by millions of people.</li>
                            <li>I have played soccer for several years and it is very fun</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/Chess.jpg') }}" alt="Chess" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Chess</h5>
                    <p class="card-text">
                        <ol>
                            <li>I like many games but Chess is my favorite.</li>
                            <li>Chess is the best and most famous strategy game in the world.</li>
                            <li>I play chess in my free time and I also have a chess class.</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}